.app-container {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.header-title {
    font-size: 42px;
    font-weight: 700;
    margin: 0 0 0 5px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.groups-container {
    display: flex;
    gap: 5px;
}

.group {
    display: flex;
    justify-content: center;
    border: 2px solid rgb(204, 204, 204);
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    flex: 1;
}

.group-title {
    margin: 5px;
}

.cards-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.cards-button {
    width: 100%;
}

.group-wrapper {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
}

.group-actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    gap: 10px;
}

.auth-form {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
}

.auth-title {
    margin: 0;
    color: rgb(217, 217, 217);
}

.auth-form-component {
    margin-inline-end: 0;
}

.admin-page {
    padding: 0 20px;
}

.auth-wrapper {
    display: flex;
    gap: 10px;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
