.app-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
}

.add-card {
    padding: 20px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.header-container {
    align-self: end;
    padding: 20px 0;
}

.auth-form {
    display: flex;
    align-items: center;
    gap: 5px;
}

.auth-title {
    margin: 0;
}

.admin-page {
    padding: 0 20px;
}
